@import '~@anyvision/style-guide';

%noSpacingStyle {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

%hiddenTextOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$default-selected-height: av-size(sz-56);

.container {
  display: flex;
  flex-direction: column;
  width: av-size(sz-320);
  box-sizing: border-box;
  position: relative;

  &.isDisabled {
    opacity: av-opacity(disabled);
    border: 1px solid av-color(primary);
    border-radius: av-radius(tidy);
  }

  > *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .selectedContainer {
    cursor: default;
    outline: none;
    position: relative;
    border-radius: av-radius(tidy);
    padding: 0 av-space() 2px;
    height: $default-selected-height;
    min-height: $default-selected-height;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid av-color(primary, av-opacity(disabled));
    transition: all 0.2s linear;
    overflow: hidden;

    &:hover {
      background-color: av-color(primary, av-opacity(divider));
    }

    label {
      text-transform: capitalize;
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
      font-size: av-font-size(tiny);
      color: av-color(content, av-opacity(disabled));
      cursor: text;
    }

    .selectedContentContainer {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      box-sizing: border-box;
      flex: 1 1 0;
      padding-top: av-space();
    }

    .placeholder {
      @extend %av-body1;
      color: av-color(content, av-opacity(medium));
      flex: 1;
    }

    .valuesContainer {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      overflow-y: auto;
      flex-wrap: wrap;
      flex: 1 1 0;
      @extend %av-scrollbar;

      .selectedValue {
        @extend %av-body1;
        @extend %hiddenTextOverflow;
        color: av-color(content);
        display: block;
      }

      .inputBase {
        @extend %noSpacingStyle;
        @extend %av-body1;
        font-family: inherit;
        color: av-color(content);
        display: inline-flex;
        align-items: baseline;
        justify-content: flex-start;
        box-sizing: border-box;
        width: min-content;
        height: fit-content;
        flex-grow: 1;

        .trailingIconInput {
          align-self: center;
        }

        svg {
          color: av-color(content);
          cursor: pointer;
          height: av-size(sz-16);
          width: av-size(sz-16);
          transition: all 0.05s linear;
          fill: av-color(content);
        }

        &.spacingTop input {
          padding-top: av-space(micro);
        }

        input {
          @extend %noSpacingStyle;
          @extend %av-body1;
          box-sizing: border-box;
          cursor: text;
          min-width: av-space(tiny);
          flex: 1;

          &::placeholder {
            @extend %av-body1;
            @extend %hiddenTextOverflow;
            display: block;
          }
        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      flex-shrink: 0;
      box-sizing: border-box;
      margin-left: av-space(micro);

      .iconButton {
        width: av-size(sz-24);
        height: av-size(sz-24);
        color: av-color(content);

        > svg {
          color: av-color(content);
          cursor: pointer;
          height: av-size(sz-24);
          width: av-size(sz-24);
          fill: av-color(content);
        }

        &:not(:last-of-type) {
          margin-right: av-space(micro);
        }

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }

    .selectedItem,
    .deleteButton {
      @extend %av-caption;
      font-family: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      background-color: av-color(primary);
      padding: 2px 0 2px av-space(tiny);
      border-radius: av-radius(curvy);
      font-size: av-font-size(micro);
      color: av-color(purewhite);
      margin-right: av-space(micro);
      align-items: center;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: av-space(micro);
        z-index: av-z-index(raised);

        svg {
          font-size: av-font-size(tiny);
          fill: av-color(purewhite);
          cursor: pointer;
          border-radius: av-radius(circle);
          padding: 2px;
          margin-right: 2px;
        }
      }

      &.spacingTop {
        margin-top: av-space(micro);
      }
    }

    .deleteButton {
      margin-right: av-space(tiny);
    }
  }

  .menuContainer {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style-type: none;
    border-radius: av-radius(tidy);
    display: flex;
    flex-direction: column;
    border: 1px solid av-color(primary, av-opacity(disabled));
    border-top: none;
    transition: all 0.3s linear;
    @extend %av-scrollbar;
    overflow-y: auto;
    max-height: av-size(sz-240);
  }
}

:export {
  defaultSelectedHeight: $default-selected-height;
}
