@import '~@anyvision/style-guide';
@import '../../styles/mixin/ripple.scss';

.arrowSvg {
  height: av-size(sz-16);
  width: av-size(sz-16);
  transition: all 0.05s linear;
  fill: av-color(purewhite);
}

.dynamicFilterBtn {
  padding: 0 av-space(tiny);
  background-color: av-color(content, av-opacity(ghost));
  color: av-color(purewhite);
  width: fit-content;
  height: av-size(sz-48);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: av-space(tiny);

  .arrowSvg {
    height: av-size(sz-16);
    width: av-size(sz-16);
    transition: all 0.05s linear;
    fill: av-color(purewhite);
  }

  &:hover {
    background-color: av-color(content, av-opacity(divider));
  }

  &.btnSelected {
    background-color: av-color(primary);
  }
}
