@import '~@anyvision/style-guide';

// top toolbar
.MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiToolbar-gutters {
  background-color: av-color(primary);
}

// clock
.MuiPickersClock-container {
  .MuiPickersClock-clock {
    background-color: av-color(primary, av-opacity(divider));
    .MuiPickersClock-pin,
    .MuiPickersClockPointer-pointer {
      background-color: av-color(primary);
      .MuiPickersClockPointer-thumb {
        border-color: av-color(primary);
        &.MuiPickersClockPointer-noPoint {
          background-color: av-color(primary);
        }
      }
    }
  }
}

.bt-timeicker-icon {
  border-radius: 50%;
  color: av-color(content);
  background-color: av-color(content, av-opacity(divider));
  &.disabled {
    pointer-events: none;
  }
}
