// Consider other ripple approach fix white and black
$ripple-transition-duration: 0.3s;

@mixin av-ripple($color: currentColor, $toBackground: false) {
  &:not([disabled]):not(.disabled) {
    overflow: hidden;
    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      border-radius: inherit;
      pointer-events: none;

      @if $toBackground {
        z-index: -1;
      }
    }

    &::before {
      background-color: $color;
      transition: opacity 0.2s ease-in-out;
    }

    &::after {
      left: 50%;
      top: 50%;
      background: radial-gradient(circle at center, $color 1%, transparent 1%)
        center/10000% 10000% no-repeat;
      width: 0;
      height: 0;
      opacity: 1;
      border-radius: 100%;
      transition: width 500ms ease-in-out, height 500ms ease-in-out,
        margin-left 500ms ease-in-out, margin-top 500ms ease-in-out;
      opacity: av-opacity(disabled);
    }

    &:hover::before {
      opacity: av-opacity(divider);
    }

    &:focus::before {
      opacity: av-opacity(ghost);
    }

    &:hover:focus::before {
      opacity: av-opacity(divider);
    }

    &:active::after {
      width: av-size(sz-480);
      height: av-size(sz-480);
      margin-left: calc(#{av-size(sz-240)} * -1);
      margin-top: calc(#{av-size(sz-240)} * -1);
    }
  }
}
