@import '~@anyvision/style-guide';

%text-container {
  border-radius: av-radius();
  padding: av-space(micro);
  display: flex;
  align-items: start;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  @extend %av-subtitle1;
}

%icon {
  width: av-size(sz-24);
  height: av-size(sz-24);
  fill: currentColor;
}

.inQueueContainer {
  @extend %text-container;
  color: av-color(primary);

  &:hover {
    background: av-color(primary, av-opacity(disabled));
  }

  svg {
    @extend %icon;
  }
}

.resultContainer {
  @extend %text-container;
  animation: expandIn 0.25s;

  &.success {
    color: av-color(success);

    &:hover {
      background: av-color(success, av-opacity(disabled));
    }
  }

  &.error {
    color: av-color(error);

    &:hover {
      background-color: av-color(error, av-opacity(disabled));
    }
  }

  svg {
    @extend %icon;
  }
}
