@import '~@anyvision/style-guide';
@import "../../styles/mixin/ripple";

$radio-container-size: 32px;

.radio {
  box-sizing: border-box;
  @include av-ripple(currentColor, true);
  position: relative;
  height: av-size(sz-32);
  width: av-size(sz-32);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: av-radius();
  padding: av-space(tiny);
  color: av-color(primary);
  fill: currentColor;

  input {
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: inherit;
  }

  .iconContainer {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: av-radius(base);
    border: solid 2px av-color(content, av-opacity(disabled));
  }

  &.checked{
    .iconContainer {
      border-color: currentColor;
      fill: av-color(purewhite);
    }

    .circle {
      height: av-size(sz-8);
      width: av-size(sz-8);
      background: currentColor;
      border-radius: av-radius(circle);
      display: inline-block;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: av-opacity(disabled);

    &:not(&.checked) {
      border: solid 2px av-color(content, av-opacity(disabled));
    }
  }
}





