@import '~@anyvision/style-guide';
@import '../../styles/constants';

.stepWizardContainer {
  width: 100%;
  height: 500px;
  @include av-elevation(pop-out);
  height: fit-content;
  box-sizing: border-box;
  border-radius: av-radius(base);
  background-color: av-color(surface);
  color: av-color(content);
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-right: av-space(tiny);

    .headerLeftSide {
      display: flex;
      align-items: center;
    }

    .steps {
      display: flex;
      align-items: center;
      @extend %av-caption;

      small {
        @extend %av-overline;
        margin-left: av-space(micro);
        cursor: default;
        text-transform: uppercase;
      }

      .stepsNumbers {
        display: flex;
        align-items: center;

        .stepNumber {
          font-weight: av-font-weight(bold);
        }
      }
    }

    .backButton {
      color: av-color(content);
      margin-right: av-space(tiny);
      transform: rotate(90deg);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    @extend %av-body2;

    .buttons {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      > * {
        margin-left: av-space(tiny);
      }
    }
  }

  .progress {
    height: 4px;
    background-color: av-color(primary, av-opacity(divider));

    .innerProgress {
      background-color: av-color(primary);
      height: 100%;
      transition: width 0.3s ease-in;
    }
  }

  .overlay {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: av-color(overlay);
    opacity: 0.9;

    > * {
      height: calc(100% - #{$dialog-footer-height});
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }
}
