@import "../../node_modules/@anyvision/style-guide/index";

.dialogExample {
  height: 300px;
  width: 500px;

  .dialogBodyExample {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: av-color(ac-vega);
    border-radius: av-radius(base);
    white-space: pre-wrap;
    text-align: center;
  }

  .dialogFooterExample {
    display: flex;
    align-items: center;
    margin-top: av-space(tiny);

    .dialogFooterButtonsExample {
      margin-left: auto;
      display: grid;
      grid-column-gap: av-space(tiny);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
