@import '~@anyvision/style-guide';

.microMargin {
  margin: av-space(micro);
}

.marginFlexContainer {
  display: flex;
  align-items: center;

  > * {
    margin: av-space(micro);
  }
}

.flexMultipleRows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;

  > * {
    margin: av-space(base);
  }
}

.flexColumn {
  flex-direction: column;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: av-font-size(small);
}

.successBackgroundColor {
  background-color: av-color(success);
}

.alertColor {
  color: av-color(alert);
}

.successColor {
  color: av-color(success);
}

.errorColor {
  color: av-color(error);
}

.infoColor {
  color: av-color(primary);
}

.alertFillColor {
  fill: av-color(alert);
}

.successFillColor {
  fill: av-color(success);
}

.errorFillColor {
  fill: av-color(error);
}

.infoFillColor {
  fill: av-color(primary);
}

.tinyText {
  font-size: av-font-size(tiny);
}

.menuExample {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.fullWidth {
  width: 100%;
}

.card {
  @include av-elevation(sticky);
  width: av-size(sz-640);
  padding: av-space();
  border-radius: av-radius();
}
