@import "~@anyvision/style-guide";
@import "../../../styles/mixin/ripple";

.menuItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 av-space();
  cursor: pointer;

  .menuItemLabel {
    flex: 1;
  }

  &:not(.subMenuItem):not(.menuItemDisabled) {
    @include av-ripple(av-color(primary));

    &:focus {
      background-color: av-color(primary, av-opacity(divider));
    }
  }

  &.subMenuItem:not(.menuItemDisabled):hover {
    background-color: av-color(primary, av-opacity(divider));
  }
}