_auth=Y2hlbmVhbnl2aXNpb246QUtDcDVmVURwbWJZck5rWU1VRldQekFyaGZaVGhZTXZya1VzZTY3TXNDS21kM0N1MVZqbzJWVFdMR25VbkJzZ0hnVzUxb3JuRA==
always-auth=true
email=chene@anyvision.co
@anyvision:registry=https://anyvision.jfrog.io/artifactory/api/npm/npm-remote/
@anyvision:registry=https://anyvision.jfrog.io/artifactory/api/npm/npm-local/