@import "~@anyvision/style-guide";

$ripple-transition-duration: 0.5s;

.button {
  border: none;
  text-align: left;
  text-decoration: none;
  border-radius: av-radius(tidy);
  padding: 0 av-space();
  font-weight: av-font-weight(bold);
  font-size: av-font-size(small);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 1.34px;
}

.small {
  height: av-size(sz-32);
}

.large {
  height: av-size(sz-48);
}

button:disabled {
  opacity: av-opacity(disabled);
}

@each $key, $value in $color-palate {
  .#{$key}-fill {
    background-color: $value;
    color: av-color(purewhite);
    fill: av-color(purewhite);
    background-position: center;
    transition: background $ripple-transition-duration;

    &:hover:enabled {
      background: scale-color($value, $lightness: 10%) radial-gradient(circle, transparent 1%, scale-color($value, $lightness: 10%) 1%) center/15000%;
    }

    &:active:enabled {
      background-color: scale-color($value, $lightness: -10%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  .#{$key}-outline {
    background: center;
    border: 2px solid $value;
    color: $value;
    fill: $value;
    transition: background $ripple-transition-duration;

    &:hover:enabled {
      background: scale-color($value, $lightness: 90%) radial-gradient(circle, transparent 1%, scale-color($value, $lightness: 90%) 1%) center/15000%;
    }

    &:active:enabled {
      background-color: scale-color($value, $lightness: 75%);
      background-size: 100%;
      transition: background 0s;
    }
  }

  .#{$key}-ghost {
    background: center;
    border: none;
    color: $value;
    fill: $value;
    transition: background $ripple-transition-duration;

    &:hover:enabled {
      background: scale-color($value, $lightness: 90%) radial-gradient(circle, transparent 1%, scale-color($value, $lightness: 90%) 1%) center/15000%;
    }

    &:active:enabled {
      background-color: scale-color($value, $lightness: 75%);
      background-size: 100%;
      transition: background 0s;
    }
  }
}
