@import '~@anyvision/style-guide';
@import '../../styles/mixin/ripple';

.button {
  @extend %av-button;
  @include av-ripple();
  cursor: pointer;
  outline: none;
  position: relative;
  border: none;
  text-decoration: none;
  border-radius: av-radius(tidy);
  padding: 0 av-space();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;

  &:disabled {
    opacity: av-opacity(disabled);
    cursor: default;
  }
}

.leadingIcon {
  display: flex;
  margin-left: calc(#{av-space(micro)} * -1);
}

.small {
  height: av-size(sz-32);
}

.medium {
  height: av-size(sz-40);
}

.large {
  height: av-size(sz-48);
}

.fill {
  color: av-color(purewhite);
  fill: currentColor;
  background-color: av-color(primary);
}

.outline {
  background: center;
  color: av-color(primary);
  fill: currentColor;
  border: 2px solid currentColor;
}

.ghost {
  background: center;
  color: av-color(primary);
  fill: currentColor;
}
