@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.menu {
  @include av-elevation(temporary);
  background-color: av-color(surface);
  color: av-color(content, av-opacity(divider));
  fill: currentColor;
  border-radius: av-radius();
  padding: av-space(tiny) 0;
  position: absolute;
  z-index: 1;

  &.closed {
    // To make sure that the element is in full size, but outside of view
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: -100vh;
    left: -100vh;
  }

  &.opened {
    position: absolute;
    visibility: visible;
    opacity: 1;
    right: unset;
    left: unset;
  }

  &.regular {
    width: av-size(sz-240);

    li {
      height: 48px;
    }
  }

  &.dense {
    width: av-size(sz-144);

    li {
      height: 32px;
    }
  }

  &.fromAnchorElementEnd,
  &.fromAnchorElementStart {
    &.fromAnchorElementBottomUpwards {
      margin-top: av-space(tiny);
    }

    &.fromAnchorElementTopDownwards {
      margin-top: calc(#{av-space(tiny)} * -1);
    }
  }
}