@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.menu {
  background-color: av-color(surface);
  color: av-color(content);
  fill: currentColor;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1); // TODO: Change with elevation mixin
  border-radius: av-radius();
  padding: av-space(tiny) 0;
  position: absolute;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: av-color(surface, av-opacity(divider));
    border: 8px solid transparent;
    border-radius: 90px;
    background-clip: padding-box;

    &:hover {
      background-color: av-color(surface, av-opacity(disabled));
    }

    &:active {
      background-color: av-color(primary);
    }
  }

  &.subMenu {
    &.fromAnchorElementEnd,
    &.fromAnchorElementStart {
      &.fromAnchorElementBottomUpwards {
        margin-top: av-space(tiny);
      }

      &.fromAnchorElementTopDownwards {
        margin-top: calc(#{av-space(tiny)} * -1);
      }
    }
  }

  &.closed {
    // To make sure that the element is in full size, but outside of view
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: -100vh;
    left: -100vh;
  }

  &.opened {
    position: absolute;
    visibility: visible;
    opacity: 1;
    right: unset;
    left: unset;
  }

  .menuItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 av-space();
    cursor: pointer;

    .menuItemLabel {
      flex: 1;

      .subMenuArrowIconContainer {
        fill: av-color(surface);
      }
    }

    &:not(.subMenuItem) {
      @include av-ripple(av-color(primary));
    }

    &.menuItem:focus,
    &.subMenuItem:hover {
      background-color: av-color(primary, av-opacity(divider));
    }
  }

  &.regular {
    width: av-size(sz-240);

    .menuItem {
      height: av-size(sz-48);
    }
  }

  &.dense {
    width: av-size(sz-144);

    .menuItem {
      height: av-size(sz-32);
    }
  }
}

.menuPortal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}