@import '~@anyvision/style-guide';

.menuContainer {
  position: absolute;
  z-index: 20;
  outline: none;

  &.subMenu {
    &.down {
      margin-top: calc(#{av-space(tiny)} * -1);
    }

    &.up {
      margin-top: av-space(tiny);
    }
  }
}

.menu {
  @include av-elevation(temporary);
  background-color: av-color(surface);
  color: av-color(content);
  fill: currentColor;
  border-radius: av-radius();
  padding: av-space(tiny) 0;

  &.large {
    li {
      min-width: 124px;
      font-size: av-font-size();
      height: av-size(sz-48);
    }
  }

  &.medium {
    li {
      min-width: 124px;
      font-size: av-font-size(small);
      height: av-size(sz-40);
    }
  }

  &.small {
    li {
      min-width: 105px;
      font-size: av-font-size(tiny);
      height: av-size(sz-32);
    }
  }

  &.dense {
    li {
      @extend %av-body2;
      height: av-size(sz-32);
    }
  }
}

ul {
  margin: 0;
}
