@import '~@anyvision/style-guide';

.menuContainer {
  position: absolute;
  z-index: 20;
  height: fit-content;
  min-height: 200px;
  background-color: av-color(purewhite);
  border: solid 3px av-color(primary);
  box-sizing: border-box;
}
