@import '~@anyvision/style-guide';

.menuContainer {
  position: absolute;
  z-index: 20;
  height: fit-content;
  min-height: av-size(sz-240);
  min-width: calc(av-size(sz-320) + av-size(sz-80));
  max-height: av-size(sz-640);
  overflow-y: auto;
  background-color: av-color(purewhite);
  border: solid 3px av-color(primary);
  box-sizing: border-box;
  padding: av-space(medium);
  display: flex;
  flex-direction: column;
  gap: av-space(medium);
  cursor: auto;
}
