@import '~@anyvision/style-guide';

.emptyDropdown {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: av-space();

  svg {
    margin-right: av-space(tiny);
    height: av-size(sz-32);
    width: av-size(sz-32);
  }

  p {
    @extend %av-body1;
    color: av-color(content, av-opacity(medium));
  }
}
