@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.switch {
  margin: 0 av-space();
  color: av-color(content);

  .switchLabel {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    height: 32px;

    .switchLine {
      background-color: currentColor;
      height: 8px;
      width: av-size(sz-24);
      border-radius: av-radius();
      opacity: av-opacity(disabled);
    }

    .switchToggle {
      @include av-ripple();
      position: absolute;
      left: calc(#{av-size(sz-16)} * -1);
      align-items: center;
      justify-content: center;
      display: flex;
      height: av-size(sz-32);
      width: av-size(sz-32);
      border-radius: av-radius(circle);

      span {
        background-color: av-color(surface);
        @include av-elevation(sticky);
        height: av-size(sz-16);
        width: av-size(sz-16);
        border-radius: inherit;
      }
    }
  }

  &.checked {
    color: av-color(primary);
    .switchLine {
      background-color: currentColor;
    }

    .switchToggle {
      right: calc(#{av-size(sz-16)} * -1);
      left: unset;
      span {
        background-color: currentColor;
      }
    }
  }

  &.disabled {
    opacity: av-opacity(disabled);

    .switchLabel {
      cursor: not-allowed;
    }
  }
}
