@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.switch {
  .switchLabel {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    height: 32px;

    .switchLine {
      background-color: av-color(content);
      height: 8px;
      width: av-size(sz-64);
      border-radius: av-radius();
      opacity: av-opacity(disabled);
    }

    .switchToggle {
      @include av-ripple();
      @include av-elevation(sticky);
      position: absolute;
      padding: av-size(sz-8);
      background-color: av-color(surface);
      height: 32px;
      width: av-size(sz-32);
      border-radius: av-radius(circle);
    }
  }

  &.checked {
    .switchLine {
      background-color: av-color(primary);
    }

    .switchToggle {
      right: 0;
      background-color: av-color(primary);
    }
  }

  &.disabled {
    opacity: av-opacity(disabled);

    .switchLabel {
      cursor: not-allowed;
    }
  }
}
