@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.switch {
  position: relative;

  .switchLabel {
    cursor: pointer;
    display: inline-block;
    height: av-size(sz-32);
    position: relative;
    overflow: hidden;

    .switchInner {
      background-color: av-color(secondary);
      height: av-size(sz-8);
      width: av-size(sz-24);
      border-radius: av-radius();
      opacity: av-opacity(disabled);
      margin-top: 50%;
    }

    .switchToggle {
      position: absolute;
      top: 25%;
      background-color: av-color(content);
      height: av-size(sz-16);
      width: av-size(sz-16);
      border-radius: av-radius();
      transition: all 3s; //just to show that it is not jumping
    }
  }
  &.disabled {
    opacity: av-opacity(disabled);

    .switchLabel {
      cursor: not-allowed;
    }
  }

  &.on {
    .switchInner {
      background-color: av-color(surface);
    }

    .switchToggle {
      left: calc(100% - #{av-size(sz-16)});
      background-color: av-color(primary);
    }
  }
}
