@import "~@anyvision/style-guide";

.skeletonLoader {
  height: 8px;
  position: relative;
  border-radius: av-radius(round);
  overflow: hidden;
  background-color: av-color(content, av-opacity(divider));

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        av-color(purewhite, 0) 0,
        av-color(purewhite, 0.1) 20%,
        av-color(purewhite, 0.3) 60%,
        av-color(purewhite, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
