@import '~@anyvision/style-guide';

.SmartFilter {
  position: relative;
  min-width: av-size(sz-640);
  border-radius: av-radius();
  display: flex;
  align-items: stretch;

  .searchFilter {
    height: unset;
    padding: av-space(tiny);
    background-color: av-color(surface);
    fill: av-color(content);

    &.openedMenu {
      background-color: av-color(primary);
      fill: av-color(surface);
    }
  }

  .chipInput {
    flex-grow: 1;
    div {
      border: none;
      &:hover:not(:focus-within):not(.error):not(.disabled) {
        box-shadow: none;
        border: none;
      }

      &:focus-within {
        box-shadow: none;
        border: none;
      }
    }
  }
}

.elevationOverlay {
  @include av-elevation(raised);
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  border-radius: inherit;
}
