@import "~@anyvision/style-guide";

.SmartFilter {
  @include av-elevation(raised);
  min-width: av-size(sz-640);
  border-radius: av-radius();
  display: flex;

  .searchFilter {
    padding: av-space(tiny);
    background-color: av-color(surface);
    fill: av-color(content);

    &.openedMenu {
     background-color: av-color(primary);
     fill: av-color(surface);
    }
  }

  .searchInput {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .chipsAndInput {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 1;

      &:focus {
        opacity: av-opacity(ghost);
      }

      .chipStyle:not(:last-child) {
        margin-left: av-space(tiny);
      }

      .inputBase {
        min-width: av-size(sz-320);
        padding-left: av-space(tiny);
        height: auto;
        border: none;
        flex-grow: 1;
      }
    }

    .cancelIcon {
      fill: av-color(content);
    }
  }
}
