@import '~@anyvision/style-guide';

.ChipsInput {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .container {
    @extend %av-scrollbar;
    border-radius: av-radius();
    border: solid 1px av-color(content, av-opacity(disabled));
    overflow-y: auto;
    overflow-wrap: anywhere;
    min-height: 48px;
    max-height: 168px;
    transition: border-color 200ms;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;

    &:focus-within {
      border-color: av-color(primary);
    }

    &.error,
    &.error:focus-within {
      border-color: av-color(error);
    }

    .chipStyle {
      margin: av-space(micro) 0 av-space(micro) av-space(tiny);

      &.chipError {
        color: av-color(error);
        background-color: av-color(error, av-opacity(divider));

        &:focus {
          background-color: av-color(error, av-opacity(disabled));
        }
      }
    }

    .inputBase {
      padding-left: av-space(tiny);
      border: none;
      flex-grow: 1;

      > input {
        @extend %av-body2;
      }
    }
  }

  .helperText {
    @extend %av-caption;
    text-align: left;
    color: av-color(content, av-opacity(medium));

    &.helperError {
      color: av-color(error);
    }
  }

  .cancelIcon {
    fill: av-color(content);
  }
}
