@import '~@anyvision/style-guide';

.virtualizedTree {
  @extend %av-scrollbar;

  &::-webkit-scrollbar-thumb {
    background-color: av-color(purewhite, av-opacity(divider));
  }
}

.paginationNode {
  display: flex;
  justify-content: center;
  align-items: center;
}
