@import '~@anyvision/style-guide';

.results {
  @extend %av-overline;
  font-weight: av-font-weight(bold);
  margin-bottom: av-space(tiny);
  margin-left: av-space();
  color: av-color(content, av-opacity(medium));
}

.tableHeader {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  height: 32px;
  border-radius: av-radius(tidy);
  color: av-color(content, av-opacity(medium));
  fill: av-color(content, av-opacity(medium));
  background-color: av-color(content, av-opacity(ghost));
  border: 1px av-color(content, av-opacity(divider)) solid;
  margin-bottom: av-space(tiny);
  // temporary, because of scrollbar
  padding-right: av-space();
}

.headerCell {
  @extend %av-overline;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: av-space();
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: av-color(content, av-opacity(ghost));

    .sortingIcon:not(.activeSort) {
      opacity: av-opacity(medium);
    }
  }

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.selectionCell {
  margin-left: av-space(tiny);
}

.sortableColumn {
  cursor: pointer;
}

.columnManagementCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: av-size(sz-64);
  margin-left: auto;

  > button {
    color: av-color(content);
  }
}

.sortingIcon {
  transform: rotate(-180deg);
  opacity: 0;
  width: av-size(sz-16);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.trailingIcon {
  margin-left: av-space(micro);
}

.activeSort {
  opacity: av-opacity(high);
}

.sortingIconDesc {
  transform: rotate(0);
}
