@import '~@anyvision/style-guide';

.staticInfoTable {
  display: flex;
  flex-direction: column;
}

.roles {
  background-color: av-color(primary, av-opacity(medium)) !important;
  width: av-size(sz-240);
}
