@import "~@anyvision/style-guide";

.justSomeClass {
  margin: 0 auto;
  text-align: center;
  background-color: av-color(primary);
  color: av-color(purewhite);
  border: 1px av-color(secondary) solid;
  width: av-size(sz-240);
}
