@import "~@anyvision/style-guide";

.dialogHeader {
  box-sizing: border-box;
  height: 56px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 av-space(medium);
  @extend %av-body1;

  .closeIcon {
    color: av-color(content);
    margin-right: calc(#{av-space(tiny)} * -1);
    margin-left: auto;
  }
}
