@import '~@anyvision/style-guide';

:global {
  // top toolbar
  .MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters {
    background-color: av-color(primary);
  }

  // hover toolbar label
  .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiPickersToolbarButton-toolbarBtn {
    &:hover {
      background-color: av-color(purewhite, av-opacity(divider));
    }
  }

  // year selected
  .MuiTypography-root.MuiPickersYear-root.MuiPickersYear-yearSelected.MuiTypography-h5.MuiTypography-colorPrimary {
    color: av-color(primary);
    font-size: av-font-size(base);
  }

  // day selected bg
  .MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day.MuiPickersDay-daySelected {
    background-color: av-color(primary);
    &.MuiPickersDay-current {
      color: av-color(purewhite);
    }
  }

  // day selected label
  .MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day.MuiPickersDay-current {
    color: av-color(primary);
  }

  // calendar days
  .MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day {
    &:hover {
      background-color: av-color(primary, av-opacity(divider));
    }
  }

  .bt-datepicker-icon {
    border-radius: 50%;
    color: av-color(content);
    background-color: av-color(content, av-opacity(divider));
    &.disabled {
      pointer-events: none;
    }
  }
}
