@import '~@anyvision/style-guide';

:global {
  %hover_open_bg {
    background-color: av-color(content, av-opacity(ghost));
  }
  .datepicker-icon {
    border-radius: 50%;
    color: av-color(content);
    background-color: transparent;

    &.disabled {
      pointer-events: none;
    }

    &:hover,
    &.open {
      @extend %hover_open_bg;
    }

    &:focus {
      background-color: av-color(content, av-opacity(disabled));
    }
  }

  // top toolbar
  .MuiToolbar-root.MuiToolbar-regular.MuiPickersToolbar-toolbar.MuiPickersDatePickerRoot-toolbar.MuiToolbar-gutters {
    background-color: av-color(primary);
  }

  .MuiButtonBase-root {
    // hover toolbar label
    &.MuiButton-root.MuiButton-text.MuiPickersToolbarButton-toolbarBtn {
      &:hover {
        background-color: av-color(purewhite, av-opacity(divider));
      }
    }

    &.MuiIconButton-root {
      &.MuiPickersDay-day {
        // day selected label
        &.MuiPickersDay-current {
          color: av-color(primary);
        }
        // calendar days
        &:hover {
          background-color: av-color(primary, av-opacity(divider));
        }
        // day selected bg
        &.MuiPickersDay-daySelected {
          background-color: av-color(primary);
          &:hover {
            background-color: av-color(primary);
          }
          &.MuiPickersDay-current {
            color: av-color(purewhite);
          }
        }
      }
    }
  }

  // year selected
  .MuiTypography-root.MuiPickersYear-root.MuiPickersYear-yearSelected.MuiTypography-h5.MuiTypography-colorPrimary {
    color: av-color(primary);
    font-size: av-font-size(base);
  }
}
