@import "~@anyvision/style-guide";

.light {
    --surface: #fcfcff;
    --content: #02244d;
    color: av-color(decorative);
}

.dark {
    --surface: #02244d;
    --content: #fcfcff;
    color: av-color(decorative);
}
