@import '~@anyvision/style-guide';

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(/styles/fonts/Poppins-Regular.ttf) format("truetype");
}

.light {
  color: av-color(decorative);
}

.dark {
  --surface: #{hex-to-rgb-string(#002450)};
  --content: #{hex-to-rgb-string(#ffffff)};
  color: av-color(decorative);
}

// Set default colors on :root element
:root {
  @each $key, $value in $color-palate {
    #{set-as-var($key)}: unquote(hex-to-rgb-string($value));
  }
}
