@import "~@anyvision/style-guide";

.light {
    --surface: hex-to-rgb-string(#fcfcff);
    --content: hex-to-rgb-string(#02244d);
    color: av-color(decorative);
}

.dark {
    --surface: hex-to-rgb-string(#02244d);
    --content: hex-to-rgb-string(#fcfcff);
    color: av-color(decorative);
}
