@import '~@anyvision/style-guide';

.staticInfoTableHeader {
  display: flex;
  gap: av-space(micro);

  .headerCell {
    box-sizing: border-box;
    width: av-size(sz-144);
    height: av-size(sz-56);
    padding: av-space(tiny) av-space();
    background-color: av-color(content, av-opacity(disabled));
    border-radius: av-radius(tidy);
    color: av-color(purewhite);
    overflow-wrap: break-word;
    @extend %av-subtitle2;
  }
}
