@import '~@anyvision/style-guide';

:root {
  --box-shadow-vertical-length: -6px;
  --svg-size: 2.5em;
  --undo-button-margin: 10px;
}

.toastMessage {
  display: flex;
  @include av-elevation(temporary);
  min-width: av-size(sz-320);
  max-width: av-size(sz-480);
  height: calc(#{av-size(sz-64)} + #{av-size(sz-8)});
  background-color: av-color(purewhite);
  align-items: center;
  border-radius: av-radius();
  padding: 0 av-size(sz-16);
  justify-content: space-between;
  font-size: av-font-size(small);

  &.success {
    box-shadow: inset 0 var(--box-shadow-vertical-length) 0 0 av-color(success, av-opacity(divider));
    border: solid 1px av-color(success);
  }

  &.alert {
    box-shadow: inset 0 var(--box-shadow-vertical-length) 0 0 av-color(alert, av-opacity(divider));
    border: solid 1px av-color(alert);
  }

  &.info {
    box-shadow: inset 0 var(--box-shadow-vertical-length) 0 0 av-color(primary, av-opacity(divider));
    border: solid 1px av-color(primary);
  }

  &.error {
    box-shadow: inset 0 var(--box-shadow-vertical-length) 0 0 av-color(error, av-opacity(divider));
    border: solid 1px av-color(error);
  }
}

.toastMessage:not(:first-child) {
  margin-top: av-space(tiny);
}

.portal {
  position: fixed;
  left: av-space(loose);
  bottom: av-space(loose);
  overflow: hidden;
}

.messageContainer {
  display: flex;
  align-items: center;
  color: av-color(trueblack);

  .leadingIcon {
    margin-right: av-space(tiny);
    display: flex;
    align-items: center;

    & > svg {
      height: var(--svg-size);
      width: var(--svg-size);
    }
  }
}

.actionsContainer {
  display: flex;

  .closeIcon {
    color: av-color(trueblack);
    margin-left: av-space(tiny);
  }

  .undoButton {
    font-weight: av-font-weight(bold);
    margin: 0 var(--undo-button-margin);
  }
}
