@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.checkbox {
  position: relative;
  height: av-size(sz-32);
  width: av-size(sz-32);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: av-radius();
  padding: av-space(tiny);

  &.enabled {
    @include av-ripple(currentColor, true);
  }

  .parent {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: inherit;
  }

  .iconContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: av-radius(tidy);
    border: solid 2px av-color(surface, av-opacity(disabled));

    svg {
      position: absolute;
    }
  }

  &:focus,
  &:active {
    .iconContainer {
      border-color: av-color(surface);
    }
  }

  &.checked,
  &.indeterminate {
    .iconContainer {
      border-color: av-color(surface);
    }
  }

  &.disabled {
    cursor: not-allowed;
    .iconContainer {
      border: solid 2px av-color(surface, av-opacity(disabled));
      opacity: av-opacity(disabled);
    }
  }
}
@each $key, $value in $color-palate {
  .checkbox-#{$key} {
    &.enabled {
      background: center;
      color: av-color($key);
      fill: currentColor;
    }

    &.checked,
    &.indeterminate {
      .iconContainer {
        border-color: av-color($key);
        background-color: av-color($key);

        svg {
          fill: white;
        }
      }
    }
  }
}

.checkbox-purewhite {
  &.checked,
  &.indeterminate {
    .iconContainer {
      svg {
        fill: black;
      }
    }
  }
}
