@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.checkbox {
  @include av-ripple(currentColor, true);
  position: relative;
  height: av-size(sz-32);
  width: av-size(sz-32);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: av-radius();
  padding: av-space(tiny);
  color: av-color(primary);
  fill: currentColor;

  .parent {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: inherit;
  }

  .iconContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: av-radius(tidy);
    border: solid 2px av-color(content, av-opacity(disabled));

    svg {
      position: absolute;
    }
  }

  &:focus,
  &:active {
    .iconContainer {
      border-color: av-color(content);
    }
  }

  &.checked,
  &.indeterminate {
    .iconContainer {
      border-color: currentColor;
      background-color: currentColor;
      fill: av-color(purewhite);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: av-opacity(disabled);

    &:not(&.checked):not(&.indeterminate) {
      border: solid 2px av-color(content, av-opacity(disabled));
    }
  }
}
