@import "~@anyvision/style-guide";

.tableRow {
  box-sizing: border-box;
  min-height: 48px;
  display: flex;
  border-bottom: 1px av-color(content, av-opacity(divider)) solid;
  padding: av-space(tiny) 0;

  .tableCell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: av-space();
  }

  &:hover:not(.selectedRow) {
    background-color: av-color(primary, av-opacity(ghost));
  }

  .selectionCell {
    margin-left: av-space(tiny);
  }

  .actionsCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: av-size(sz-64);
    margin-left: auto;

    .actionButton {
      color: av-color(content)
    }
  }

  .selectedRow {
    background-color: av-color(primary, av-opacity(divider));
  }

  .circleSkeleton {
    width: av-size(sz-32);
    height: av-size(sz-32);
    border-radius: av-radius(circle);
  }

  .lineSkeleton {
    width: 70%;
  }
}