@import "~@anyvision/style-guide";
@import url('https://fonts.googleapis.com/css?family=Poppins');

.story-wrapper {
  display: flex;
  justify-content: center;

  * {
    font-family: "Poppins";
  }
}
