@import "~@anyvision/style-guide";

.inputBase {
  width: av-size(sz-240);
  height: 40px;
  display: flex;
  justify-content: center;
  padding: av-space(tiny);
  align-items: center;
  border: solid 2px av-color(content, av-opacity(divider));
  border-radius: av-radius(tidy);

  &.disabled {
    opacity: av-opacity(disabled);
  }

  &.resize {
    > textarea {
      resize: vertical;
    }
  }

 > input,
 > textarea {
    color: av-color(content);
    border: none;
    width: 100%;
    flex: 1;
    background-color: inherit;

   &::placeholder {
     color: av-color(content);
   }
  }

  > textarea {
    resize: none;
  }

  > span {
    display: flex;
  }
}

.leadingIcon {
  fill: av-color(content);
  margin-right: av-space(tiny);
}

.trailingIcon {
  color: av-color(content);
}
