@import "~@anyvision/style-guide";

.inputBase {
  width: av-size(sz-240);
  display: flex;
  justify-content: center;
  padding: av-space(tiny);
  align-items: center;

  &.disabled {
    opacity: av-opacity(medium);
  }

  &.resize {
    > textarea {
      resize: vertical;
    }
  }

 > input,
 > textarea {
    color: av-color(content);
    border: none;
    width: 100%;
    flex: 1;
    background-color: inherit;

   &::placeholder {
     color: av-color(content);
   }
  }

  > textarea {
    resize: none;
  }

  > span {
    display: flex;
  }
}

.leadingIcon {
  fill: av-color(content);
  margin-right: av-space(tiny);
}

.lastIcon {
  color: av-color(content);
}

.small {
  height: 40px;
}

.large {
  height: 56px;
}
