@import '~@anyvision/style-guide';

.inputBase {
  box-sizing: border-box;
  height: 40px;
  width: av-size(sz-240);
  display: flex;
  justify-content: center;
  padding: av-space(tiny);
  align-items: center;
  border: solid 2px av-color(content, av-opacity(divider));
  border-radius: av-radius(tidy);

  &.multiline {
    height: auto;
  }

  &.disabled {
    opacity: av-opacity(disabled);
  }

  > input,
  > textarea {
    color: av-color(content);
    outline: none;
    border: none;
    width: 100%;
    flex-grow: 1;
    background-color: inherit;

    &::placeholder {
      color: av-color(content);
      opacity: av-opacity(medium);
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: av-color(content);
      caret-color: av-color(content);
    }
  }

  > textarea {
    resize: none;
  }

  > span {
    display: flex;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.leadingIcon {
  fill: av-color(content);
  margin-right: av-space(tiny);
}

.trailingIcon {
  display: flex;
  align-items: center;
  color: av-color(content);
}

.clearTextIcon {
  display: flex;
  align-items: center;
  color: av-color(content);
  cursor: pointer;
}
