@import "~@anyvision/style-guide";
@import "../../styles/mixin/ripple";

.chip {
  outline: none;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: av-size(sz-32);
  padding: av-space(micro);
  border-radius: av-radius(round);
  background-color: av-color(primary, av-opacity(divider));
  color: av-color(primary);
  fill: currentColor;

  &.focusable {
    @include av-ripple();

    &:focus {
      background-color: av-color(primary, av-opacity(disabled));
    }
  }

  &.isFocused {
    background-color: av-color(primary, av-opacity(disabled));
  }

  &.clickable {
    cursor: pointer;
  }

  &.disabled {
    opacity: av-opacity(disabled);
  }

  .leadingIcon,
  .trailingIcon {
    svg,
    img {
      display: block;
    }

    img {
      border-radius: 100%;
    }
  }

  .leadingIcon {
    height: av-size(sz-24);
    width: av-size(sz-24);

    img {
      border-radius: 100%;
    }
  }

  .trailingIcon {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    height: av-size(sz-16);
    width: av-size(sz-16);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: av-space(micro);
    margin-inline-start: 0;
    z-index: 1; // To overcome ripple layer drawing above the icon
    cursor: default; // To reset button's pointer cursor - trailing icon isn't clickable by default

    &.trailingIconClickable {
      cursor: pointer;

      &:before {
        border-radius: 100%;
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        content: '';
        background-color: currentColor;
        opacity: 0;
      }

      &:hover {
        &:before {
          opacity: av-opacity(disabled);
        }
      }
    }
  }

  .label {
    padding: 0 av-space(tiny);
  }

  > button {
    outline: none;
  }
}
