@import '~@anyvision/style-guide';

.popperContainer{
  @include av-elevation(overlay);
  background-color: av-color(secondary);
  padding: av-space(tiny);
  border-radius: av-radius(tidy);
  color: av-color(purewhite);
  font-size: av-font-size(small);
  * {
    margin: 0;
  }

  &[data-popper-placement*="bottom"] .popperArrow{
    @include av-elevation(overlay);
    top: -0.55em;
    border-left: av-size(sz-8) solid transparent;
    border-right: av-size(sz-8) solid transparent;
    border-bottom: av-size(sz-8) solid av-color(secondary);
  }

  &[data-popper-placement*="top"] .popperArrow {
    @include av-elevation(overlay);
    bottom: -0.55em;
    border-left: av-size(sz-8) solid transparent;
    border-right: av-size(sz-8) solid transparent;
    border-top: av-size(sz-8) solid av-color(secondary);
  }

  &[data-popper-placement*="right"] .popperArrow{
    @include av-elevation(overlay);
    left: -0.55em;
    border-bottom: av-size(sz-8) solid transparent;
    border-top: av-size(sz-8) solid transparent;
    border-right: av-size(sz-8) solid av-color(secondary);
  }

  &[data-popper-placement*="left"] .popperArrow{
    @include av-elevation(overlay);
    right: -0.55em;
    border-bottom: av-size(sz-8) solid transparent;
    border-top: av-size(sz-8) solid transparent;
    border-left: av-size(sz-8) solid av-color(secondary);
  }
}