@import '~@anyvision/style-guide';

.popperContainer{
  @include av-elevation(overlay);
  background-color: av-color(secondary);
  padding: av-space(tiny);
  border-radius: av-radius(tidy);
  color: av-color(purewhite);
  font-size: av-font-size(small);
  max-width: av-size(sz-320);

  .popperArrow {
    height: 12px;
    width: 12px;
    div {
      clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
      background-color: av-color(secondary);
      height: 100%;
      width: 100%;
      border-radius: 0 0 0 0.5em;
      @include av-elevation(overlay);
    }
  }

  &[data-popper-placement*="bottom"] .popperArrow {
    top: -0.4em;
    div {
      transform: rotate(135deg);
    }
  }

  &[data-popper-placement*="top"] .popperArrow {
    bottom: -0.4em;
    div {
      transform: rotate(-45deg);
    }
  }

  &[data-popper-placement*="right"] .popperArrow {
    left: -0.4em;
    div {
      transform: rotate(45deg);
    }
  }

  &[data-popper-placement*="left"] .popperArrow {
    right: -0.4em;
    div {
      transform: rotate(-135deg);
    }
  }
}
