@import "~@anyvision/style-guide";

.iconButton {
  padding: 0;
}

.small {
  height: av-size(sz-32);
  width: av-size(sz-32);

  svg {
    height: av-size(sz-24);
    width: av-size(sz-24);
  }
}

.large {
  height: av-size(sz-48);
  width: av-size(sz-48);

  svg {
    height: av-size(sz-32);
    width: av-size(sz-32);
  }
}

.ghost {
  border-radius: av-radius(circle);
}

