@import '~@anyvision/style-guide';

.tree {
  width: av-size(sz-480);
  background-color: av-color(secondary);
  padding: av-space(medium);

  .searchInput {
    width: 100%;
    height: av-size(sz-40);
    margin-bottom: av-space();
    border: solid 1px av-color(purewhite, av-opacity(divider));

    input {
      width: 100%;
      height: 100%;
      caret-color: av-color(purewhite, av-opacity(divider));
      padding: av-space(tiny);
      color: av-color(purewhite, av-opacity(medium));

      &::placeholder {
        @extend %av-body2;
        color: av-color(purewhite, av-opacity(medium));
      }
    }

    .searchIcon {
      fill: av-color(purewhite, av-opacity(divider));
      font-size: av-font-size(large);
    }
  }

  .nodesContainer {
    display: flex;
    flex-direction: column;

    .parentNode {
      align-items: center;
      display: grid;
      grid-template-rows: min-content min-content;
      grid-template-columns: auto 1fr;
      border-radius: av-radius(tidy);
      margin-bottom: av-space();
      transition: all 0.3s ease-in-out;
      background-color: inherit;
      border: solid 1px transparent;

      &.root {
        background-color: av-color(purewhite, av-opacity(ghost));
        padding: av-space(tiny) av-space();
      }

      &.isHoverBackground {
        &:hover {
          background-color: av-color(purewhite, av-opacity(divider));
        }
      }

      &.isNotSelected {
        border: solid 1px av-color(trueblack, av-opacity(divider));
        background-color: rgba(1, 10, 20, 0.12);
      }

      .isSelectedCheckbox {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }

      .parentLabel {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        @extend %av-subtitle2;
        color: av-color(purewhite);
        line-height: av-size(sz-24);
        margin: 0;
      }

      .parentNodeContent {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        margin-left: calc(-1 * #{av-space(tiny)});
        display: flex;
        flex-direction: column;

        .parentNodeInfo {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: min-content;

          .parentInfoText {
            @extend %av-body2;
            color: av-color(purewhite, av-opacity(medium));
            line-height: av-size(sz-16);
          }
        }

        .parentNodeChildrenList {
          display: flex;
          flex-direction: column;
          margin-left: av-space(medium);
        }
      }
    }

    .leafNode {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: av-color(purewhite, av-opacity(divider));
      }

      .leftSideLeaf {
        display: flex;
        align-items: center;

        .leafLabel {
          @extend %av-body2;
          color: av-color(purewhite);
        }
      }
    }
  }
}
