@import "~@anyvision/style-guide";

.dialogExample {
  height: 200px;
  width: 300px;

  .dialogBodyExample {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: av-color(ac-vega);
    border-radius: av-radius(base);
    white-space: pre-wrap;
    text-align: center;
  }
}
