@import "~@anyvision/style-guide";

.microMargin {
  margin: av-space(micro);
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: av-font-size(small);
}

.flexRow {
  display: flex;
  flex-direction: row;
}
